* {
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
}

.grid-item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.hover-effect {
  background-color: yellow;
}
